//CHANGE BOOTSTRAP CONTAINER WIDTH
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1218px
) !default;

$blue: #458FF6;


$btn-border-radius: 50px;
$btn-font-weight: bold;
$btn-font-size: 18px;
$btn-padding-y: 14px;
$btn-padding-x: 40px;



